extends layout

block content
  h1  
    form(action="/new", method="post")
      label(for="userName") Username:
      input(type="text", id="userName", name="userName", required)

      label(for="messageText") Message Text:
      input(type="text", id="messageText", name="messageText", required)

      input(type="submit", value="Submit")